git+https://github.com/mitradranirban/fontra.git@fontra-color-support
git+https://github.com/mitradranirban/fontra-compile.git@fontra-color-support
git+https://github.com/fontra/fontra-rcjk.git
git+https://github.com/fontra/fontra-glyphs.git
aiohttp==3.13.3
setuptools==82.0.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6-sip==13.10.3
psutil==7.2.2
paintcompiler==0.3.4
certifi==2026.6.17
